<div class="header">
  <h1 class="header-title">
    <a href="{{site.baseurl}}/">
      <img width="150" class="logo" style="opacity:0.8" src="{{site.baseurl}}/assets/img/monegro.PNG" alt="Joel Monegro" title="Joel Monegro">
    </a>
  </h1>
  <div class="" style="margin-top:-5px;font-size:16px">
    <strong><a href="/" style="color:black">Joel Monegro</a></strong>, co-founder of <a href="https://placeholder.vc" target="_blank" style="text-decoration:underline;color:black">Placeholder</a>, a venture capital partnership that invests in decentralized information networks.
  </div>
</div>
<br>
